{% extends 'base.html' %}

{% block title %}
| Access Denied
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center p-5">
        <div class="col-md-7 p-5" style="background: linear-gradient(45deg, yellow, purple); border-radius: 30px;">
            <div class="text-center text-white">
                <span class="display-4">
                    Dont Have Access
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
