{% extends 'base.html' %}

{% block title %}
| My Bill
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="table-responsive table-hover text-capitalize">
        <table class="table text-center">
            <thead class="bg-danger text-white">
                <th scope="col">#</th>
                <th scope="col">custommer</th>
                <th scope="col">uses</th>
                <th scope="col">year</th>
                <th scope="col">sum meter</th>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <th scope="row">#</th>
                    <td>{{i.custommer}}</td>
                    <td>{{i.month}}</td>
                    <td>{{i.year}}</td>
                    <td>{{i.sum_meter}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="container my-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination ">
            {% if data.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{data.previous_page_number}}">Previous</a></li>
            {% endif %}
            <li class="page-item"><span class="page-link"> Page {{data.number}} of {{data.paginator.num_pages}}</span></li>
            {% if data.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{data.next_page_number}}">Next &raquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{data.paginator.num_pages}}">Last</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock content %}

