{% extends 'base.html' %}

{% block title %}
| Staff - Payment - List
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="table-responsive table-hover">
        <table class="table text-capitalize">
            <thead class="bg-danger text-white">
                <th scope="col">#</th>
                <th scope="col">tagihan</th>
                <th scope="col">custommer</th>
                <th scope="col">month</th>
                <th scope="col">date pay</th>
                <th scope="col">biaya admin</th>
                <th scope="col">sum payment</th>
            </thead>
        </table>
    </div>
</div>
{% endblock content %}

